<section class="sectionmini" onclick="index.php?side=2&para=%%id%%">
  <article class="articlemini">
    <img class="imgmini" src="Assets/img/%%bilde%%" alt="Bilde av nedpriset produkt">
    <!--Prisen på produkte-->
    <div class="slashInfo">
      <h3 class="h3mini">%%pris%%</h3>
      <!--Namn på produkter-->
      <p class="pmini">%%navn%%</p>
      
    </div>
    <button class="addToCart">
      <img class="cartIcon" src="Assets/Icons/shopping-cart_Main_hvit.png" />
    </button>
  </article>
</section>
