
<div class="shopItemsDiv">

<!-- Kode lånt av Sandra -->
<!-- ---------------------------------------------------------------------- -->
<section class="galleryV">
<!-- Additional elements and content specific to the article -->
<article class="contentV">
<img class="imgContentV" src="Assets/img/%%bilde%%" alt="%%navn%%">
<h3>%%navn%%</h3>
<p>%%undertittel%%</p>
<h5>kr %%pris%%</h5>
<button class="show_more" href="index?page=3param=%%id%%>Vis</button>
</article>
</section>
<!-- Slutt av lånt kode -->

<div class="amountDiv">

<input type="number" value="%%antall%%" class="amountInput">
<input type="hidden" name="id" value="%%id%%">
</div>

<div class="priceDiv">
<h3>kr %%totalpris%%</h3>
</div>
<div class="deleteDiv">
<button class="deleteButton">X</button>
</div>
</div>
</section>